<!DOCTYPE html>
<html>
	<head>
		<title>Téléchargements</title>
		<meta charset=UTF-8 />
		<link rel="stylesheet" type="text/css" href="/assets/style.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	<body>
		<h1>La Soute à Bagages du Tardis</h1>

		<section id="files_section">

			<h2>Fichiers en ligne :</h2>

			<ul>
				<% Dir["/home/pi/files/*"].each do |file| %>
					<li><a title="<%=file[15..-1]%>" href="/download?path=<%=file %>"><%=file[15..-1]%></a></li>
				<% end %>
			</ul>

		</section>

		<h2>État du stockage :</h2>

		<img id="sd_card_img" src=<%=@img %>>

		<p id="p_storage_state">Carte SD occupée à <%=%x(df -k | grep -vE '^Filesystem|tmpfs|devtmpfs|/dev/mmcblk0p1' | awk '{ print $5 }') %> </p>

		<h2>Mettre en ligne un fichier :</h2>

		<input type="file">
	</body>
</html>
